In [29]:
import pandas as pd
import numpy as np

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj2 = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
obj[1]

7

In [6]:
obj2[1]

2

In [7]:
obj2['a']

1

In [8]:
obj2[1:3]

b    2
c    3
dtype: int64

In [10]:
obj2[['a','b']]

a    1
b    2
dtype: int64

In [11]:
obj2[obj2>2]

c    3
d    4
dtype: int64

In [13]:
obj2['a'] = 111
obj2

a    111
b      2
c      3
d      4
dtype: int64

In [15]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [16]:
frame.head()  # 选取前5行

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [19]:
pd.DataFrame(data, columns=['year', 'state', 'pop', 'pop'])

   year   state  pop  pop
0  2000    Ohio  1.5  1.5
1  2001    Ohio  1.7  1.7
2  2002    Ohio  3.6  3.6
3  2001  Nevada  2.4  2.4
4  2002  Nevada  2.9  2.9
5  2003  Nevada  3.2  3.2

In [22]:
frame['year']  # 将DateFrame中的一个列获取为一个Series对象

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [24]:
frame.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [27]:
frame['new_par'] = 1
frame

    state  year  pop  new_par
0    Ohio  2000  1.5        1
1    Ohio  2001  1.7        1
2    Ohio  2002  3.6        1
3  Nevada  2001  2.4        1
4  Nevada  2002  2.9        1
5  Nevada  2003  3.2        1

In [33]:
frame['new_par'] = np.zeros(6)

TypeError: 'module' object is not callable

In [32]:
frame

    state  year  pop  new_par
0    Ohio  2000  1.5      0.0
1    Ohio  2001  1.7      0.0
2    Ohio  2002  3.6      0.0
3  Nevada  2001  2.4      0.0
4  Nevada  2002  2.9      0.0
5  Nevada  2003  3.2      0.0

# 做一下2-d

In [44]:
df = pd.read_csv('patients.csv')

ages = df['Age']
heights = df['Height_cm']
weights = df['Weight_kg']

d1 = ages - np.mean(ages)
d2 = heights - np.mean(heights)
d3 = weights - np.mean(weights)

# compute the Pearson correlation coefficients
fz = np.sum(d1 * d2)
fm = np.sqrt( np.sum(d1**2) * np.sum(d2**2) )
r_ah = fz / fm

fz = np.sum(d1 * d3)
fm = np.sqrt( np.sum(d1**2) * np.sum(d3**2) )
r_aw = fz / fm

r_ah, r_aw

(0.7934610876702919, 0.5001552354595886)

In [52]:
v1 = np.array([0.2, 0.1, 0.4, -0.4])
v2 = np.array([-0.1, -0.1, 0.8, 0.5])
v1, v2

(array([ 0.2,  0.1,  0.4, -0.4]), array([-0.1, -0.1,  0.8,  0.5]))

In [53]:
def func_L1norm(v1, v2):
    return np.sum(np.abs(v1-v2))

def func_L2norm(v1, v2):
    return np.sqrt(np.sum((v1-v2)**2))

def func_cosine_sim(v1, v2):
    norm_v1 = np.linalg.norm(v1)
    norm_v2 = np.linalg.norm(v2)
    return np.dot(v1.T, v2) / (norm_v1 * norm_v2)

In [54]:
print(f'res: {func_cosine_sim(v1, v2)}')

res: 0.1551032690081807